@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;

.card {
  display: grid;

  &__thumbnail {
    width: 100%;
    max-width: 850px;
    object-fit: cover;
    height: auto;
    cursor: pointer;
  }

  &__details {
    display: flex;
  }

  &__links {
    margin-top: 1rem;
  }

  &__link-logo {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    cursor: pointer;
  }
}

@include small() {
  .card {
    grid-template-columns: 1fr;
    justify-content: space-between;

    &__details {
      justify-content: center;
      flex-direction: column;
      margin-top: 1rem;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__description {
      margin-top: 1rem;
    }
  }
}
@include medium() {
  .card {
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;

    &__details {
      justify-content: center;
      flex-direction: column;
      padding-left: 4rem;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__description {
      margin-top: 1rem;
    }
  }
}
@include large() {
  .card {
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;

    &__details {
      justify-content: center;
      flex-direction: column;
      padding-left: 4rem;
    }

    &__description {
      margin-top: 1rem;
    }
  }
}
