/* fonts */
@font-face {
  font-family: Plus Jakarta Regular;
  src: url('../../assets/fonts/plus-jarkata-sans/PlusJakartaSans-Regular.ttf');
}

@font-face {
  font-family: Plus Jakarta Medium;
  src: url('../../assets/fonts/plus-jarkata-sans/PlusJakartaSans-Medium.ttf');
}
