@import '../../App.css';

.nav-container{
    height: 55px;
    border-radius: 25px;
    border: 1px solid #CCC5C5;
    background-color: hsla(0,0%,82.7%,.34);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-nav-container{
    height: 55px;
    border-radius: 25px;
    border: 1px solid #111818;
    background-color: hsla(0,0%,82.7%,.34);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-inner-content{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-icon{
    height: 28px;
    width: 28px; 
}

.nav-buttons{
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-buttons * {
    margin: 0;
}


@media screen and (max-width: 480px) {
    .nav-container{
        height: 55px;
        border-radius: 25px;
        border: 1px solid #CCC5C5;
        background-color: hsla(0,0%,82.7%,.34);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-inner-content{
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .home-icon{
        height: 36px;
        width: 36px; 
    }
    
    .nav-buttons{
        display: flex;
        width: 184px;
        justify-content: space-between;
    }
}