@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;

@keyframes swipe {
  0% {
    right: 100%;
    left: 0;
    width: 0%;
  }
  50% {
    right: 0;
    left: 0;
    width: 100%;
  }
  100% {
    right: 0;
    left: 100%;
    width: 0%;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero {
  display: flex;
  flex-direction: column;

  height: 85vh;
  position: relative;

  &__span {
    display: block;
    opacity: 0;
    animation: fade 0.01s ease-out 1.75s forwards;
  }

  &__span-block {
    display: block;
  }

  &__emoji {
    display: inline-block;
    opacity: 0;
    animation: waving-hand 2.5s infinite, fade 0.01s ease-out 1.75s forwards;
    transform-origin: 70% 70%;
    margin-bottom: 2rem;
  }

  &__animation-container {
    width: fit-content;
    position: relative;
    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 100%;
      width: 0%;
      height: 100%;
      background-color: black;
      animation: swipe 1.5s ease-out 1s forwards;
    }
  }

  &__copy {
    font-family: Plus Jakarta Medium;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    height: 50vh;
  }
  &__sub-copy {
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  &__bold-span {
    font-family: Plus Jakarta Medium;
    font-weight: 700;
  }

  &__resume-btn {
    margin-top: auto;
    margin-bottom: 10rem;
  }
}

@include small() {
  .hero {
    padding: 0rem 1rem;
    margin-top: 7rem;
    &__top {
      &__copy {
        font-size: 2rem;
      }
    }
  }
}
@include medium() {
  .hero {
    padding: 0rem 2rem;
    margin-top: 10rem;
    &__copy {
      font-size: 4rem;
    }
  }
}
@include large() {
  .hero {
    padding: 0rem 0rem;
    margin-top: 10rem;
    &__copy {
      font-size: 4rem;
    }
  }
}
