@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/fonts' as *;

@keyframes swipe {
  0% {
    right: 100%;
    left: 0;
    width: 0%;
  }
  50% {
    right: 0;
    left: 0;
    width: 75%;
  }
  100% {
    right: 0;
    left: 100%;
    width: 0%;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-bottom: 10rem;

  &__span {
    display: block;
    opacity: 0;
    animation: fade 0.01s ease-out 1.75s forwards;
  }

  &__top {
    width: fit-content;
    position: relative;
    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 100%;
      width: 0%;
      height: 38%;
      background-color: black;
      animation: swipe 1.5s ease-out 1s forwards;
    }
  }

  &__copy {
    font-family: Plus Jakarta Medium;
  }

  &__sub-copy {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  &__bold-span {
    font-family: Plus Jakarta Medium;
    font-weight: 700;
  }
}

// .hero-top {
// }

// @keyframes slideInFromBottom {
//   0% {
//     transform: translateY(100%);
//     opacity: 0;
//   }
//   100% {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// @keyframes slowlyAppear {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }

.hero-top > p {
  overflow: hidden !important;
  font-size: 6vw;
  margin: 0;
  // animation: slideInFromBottom 0.5s ease-in;
}

.hero-bottom-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-bottom-items > div {
  width: 13%;
}

.hero-bottom-items > div > p {
  font-size: 24px;
  margin: 0;
  // animation: slowlyAppear 2s ease-in;
}

.hero-bottom-items > :last-child {
  font-size: 6vw;
  margin: 0;
  // animation: slideInFromBottom 0.5s ease-in;
}

@include small() {
  .hero {
    padding: 0rem 1rem;
    &__top {
      &__copy {
        font-size: 2rem;
      }
    }
  }
}
@include medium() {
  .hero {
    padding: 0rem 2rem;
    &__copy {
      font-size: 4rem;
    }
  }
}
@include large() {
  .hero {
    padding: 0rem 0rem;
    &__copy {
      font-size: 4rem;
    }
  }
}

// @media screen and (max-width: 480px) {
//   .hero-header-container {
//     display: flex;
//     flex-direction: column;
//   }

//   .hero-top {
//     padding-bottom: 5%;
//   }
//   .hero-top > p {
//     overflow: hidden !important;
//     font-size: 35px;
//     animation: slideInFromBottom 0.5s ease-in;
//   }

//   .hero-bottom-items {
//     display: flex;
//     align-items: flex-end;
//     justify-content: space-between;
//   }

//   .hero-bottom-items > div {
//     width: 20%;
//   }

//   .hero-bottom-items > div > p {
//     font-size: 14px;
//     animation: slowlyAppear 2s ease-in;
//   }

//   .hero-bottom-items > :last-child {
//     font-size: 35px;
//     animation: slideInFromBottom 0.5s ease-in;
//   }
// }

// @media (min-width: 1250px) and (max-width: 1550px) {
//   .hero-bottom-items > div {
//     width: 15%;
//   }

//   .hero-bottom-items > div > p {
//     font-size: 18px;
//     animation: slowlyAppear 2s ease-in;
//   }
// }

// @media (min-width: 489px) and (max-width: 1249px) {
//   .hero-bottom-items > div {
//     width: 20%;
//   }

//   .hero-bottom-items > div > p {
//     font-size: 14px;
//     animation: slowlyAppear 2s ease-in;
//   }
// }

// @media screen and (min-width: 1800px) {
//   .hero-top > p,
//   .hero-bottom-items > :last-child {
//     font-size: 140px;
//   }
// }
