@use './styles/partials/resets' as *;

.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  background-color: white;
  color: black;
  overflow-x: hidden;
}

.app--dark {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

.app__container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  position: relative;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
}

html::-webkit-scrollbar-track {
  background-color: white;
}
