@import '../../App.css';

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
      
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}


.about-me-container{
    display: flex;
    flex-direction: column;
}

.about-title{
    font-size: 36px;
}

.about-title-in-view {
    font-size: 36px;
    animation: slideInFromBottom 0.5s ease-in;
}

.about-me-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-copy {
    width: 30%;
    font-size: 24px;
}

.portrait-photo {
    height: 292px;
    width: 292px;
    border-radius: 10px;
    z-index: 1;
   
}

.overlapping-pictures{
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-block{
    height: 292px;
    width: 292px;
    background-color: #EFAF4E;
    border-radius: 10px;
    margin-left: -250px;
    margin-top: 70px;
    
}

@media screen and (max-width: 1200px) {
    .about-me-mobile-container{
        display: flex;
        flex-direction: column;
    }

    .portrait-photo {
        height: 200px;
        width: 200px;
        border-radius: 10px;
        z-index: 1;  
    }

    .background-block{
        height: 200px;
        width: 200px;
        background-color: #EFAF4E;
        border-radius: 10px;
        margin-left: -160px;
        margin-top: 70px;
    }

    .about-me-mobile-bottom{
        margin-top: 20px;
    }

    .about-me-copy {
        width: 100%;
        font-size: 24px;
    }

}